
/* *************
*              *
*    SIGNUP    *
*              *
************* */
.signInModal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    max-height: fit-content;
    background: linear-gradient(0deg, rgb(128, 104, 177) 0%, rgb(84, 185, 163) 100%);
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.signUpBackground {
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.signUpContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    top: 175px;
    margin: 3rem;
    overflow: auto;
}

.closeIcon {
    float: right;
}

.logInForm {
    display: flex;
    flex-direction: column;
}

input {
    margin: .8rem;
    font-size: 15px;
}
textarea {
    width: 100%;
    box-sizing: border-box;
}

.formWrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 2fr);
}
.signUpForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding:10px;
    border-radius:10px;
}
.rounded-input {
    padding:8px;
    border-radius:10px;
}
.fullWidth {
    grid-column: 2   
}
.block {
    display:grid;
    grid-template-columns: max-content max-content;
    text-align: right;
    
}
label {
    font-size: 10px;
}

/* **************
*               *
*    SIGNIN     *
*               *
************** */
.signUpModal, .signUpBackground {
    float: none;
    padding: 20px;
    vertical-align: top;
}


.signUpModal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 175px;
    max-width: fit-content;
    max-height: fit-content;
    background: linear-gradient(180deg, rgb(128, 104, 177) 0%, rgb(84, 185, 163) 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    overflow: auto;
}

div.signUpBackground {
    
    height: 1100px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

textarea{
    width: 20rem;
    height: 6rem;
}

/* *********************
*                      *
*    MEDIUM DEVICES    *
*                      *
********************* */
@media screen and (max-width: 1024px) {
    .signUpForm {
        display: column
   
    }
}


/* ********************
*                     *
*    SMALL DEVICES    *
*                     *
******************** */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}