footer {
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
p {
    font-size: 12px;
    color: rgb(171, 171, 171);
}

.commentContainer {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
h2 {
    
}
.commentCard {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding: .8rem;
    border-radius: 1rem;
    transition: all 400ms ease-in-out;
    color: var(--color-light);
    
}

.footerSocial > a {
    
    margin: 1rem;
    gap: 1rem;
}

.footerSocialInline {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

@media screen and (max-width: 1024px) {
    .commentContainer, p {
        font-size: 60%;
    }
}

@media screen and (max-width: 600px) {
    .commentContainer {
        display: none;
    }
    .footerText {
        display: none;
    }
    .hide {
        display: none;
    }
}

.social {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, #ece9e6, #ffffff);
    /* border: 1px solid black; */
    max-height: fit-content;
}

.footerInline {
    display: flex;

    align-items: flex-start;
    justify-content: space-evenly;
}

