header {
    padding-top: 1rem;
    overflow: hidden
}

.headerContainer {
    text-align: left;
    gap: 4rem;
    display: inline-block;
    width: 100%;
    padding: 2rem;
    height: 100%;
    position: relative;
    background: rgb(75, 51, 84);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.nav-btn {
    width: max-content;
    display: inline-block;
    color: var(--color-secondary);
    padding: 0.1rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 400ms ease-in;
    /* border: solid; */
    /* border-color: var(--color-secondary) */
}