nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        /* bottom: 2rem; */

}

.logoContainer {
    width: 15rem;
    margin: 1rem;
    color: var(--color-bg);
}

.primary-btn {
    width: 10rem;
    margin: 1rem;
}

.primary-btn:disabled {
    background: #565e62;
}

